@import "./font.scss";
body{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0 auto;
    height: 100%;
    background-color: hsl(207, 26%, 17%);
}
.container{
    max-width: 1440px !important;
}
.cursor-pointer{
    cursor: pointer;
}
.white-space-nowrap{
    white-space: nowrap;
}
.flex-wrap{
    flex-wrap: wrap;
}
.font-14{
    font-size: 14px;
}
.font-18{
    font-size: 18px;
}
